<h1>Editing User2</h1>

<%= render 'form' %>
<br>
<%= link_to 'Show', @user2, class: "btn btn-info", :style=>'color:#FFFFFF;' %> &nbsp &nbsp &nbsp
<%= link_to 'Back', user2s_path, class: "btn btn-default" %>

